.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  min-height: 500px;
  padding: 10px 20px;
  width: 420px;
  background: white;
  position: relative;
  overflow: auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9f9f9f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}


::-webkit-scrollbar {
  width: 7px;
}

.titleApp{
  color: #ff1265;
  font-size: 33px;
  font-weight: 700;
  padding: 0 20px;
  margin: 10px 0px;
  text-align: left;
  text-transform: uppercase;
}

.newStoreButton{
  background-color: #ff1265;
  color: #FFF;
  float: left;
  position: absolute;
  left: 40px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.clearButton{
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  border: none;
    color: #E91E63;
    cursor: pointer;
}

.copy{
  color: #000;
  font-size: 14px;
  /* font-style: italic; */
  margin: 10px 0;
  padding: 0 20px;
  font-weight: normal;
  letter-spacing: 0px;
  text-align: left;
}

.nTarefas {
  font-weight: bold;
}


.lojas-list{
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.modal{
  background: #dadada;
  left: 39px;
  padding: 20px;
  position: absolute;
  top: 150px;
  width: 74%;
  display: flex;
  z-index: 4;
  flex-direction: column;
}

.modal span{
  margin: 20px;
}

.closeModal{
  border-radius: 12px;
  background-color: #bbbbbb;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  width: 30px;
  height: 22px;
  left: 141px;
  font-weight: bolder;
  font-size: 13px;
}

.lojaModal input,
.modal input{
  height: 20px;
  margin: 4px 0px;
  outline: none;
  border: none;
  padding: 5px;
  text-align: center;
}

.modalAddTask{
  background-color: #e91e63;
  color: #fff;
  cursor: pointer;
  height: 25px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}